<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME PAGE</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css"%}" type="text/css">
</head>
<body>
<div class="row">
    <div class="col-6" style="background-color: white">
<h1>BMA CLUB</h1>
        <img src="{% static "images/BMA.png" %}"/>
</div>
<div class="col-6" style="background-color: yellow">
<h2>there</h2>
    <p>asdasdasdasdasdasdsadasdasdasdadsddasdsadasdasdasdasdadasd
    sdasdasdsad
    asdsad
    asdsad
    asdasd
    asdasd</p>
</div>
</div>
</body>
</html>